.my-layout-sider {
	.ant-menu {
		width: 200px;
	}
}

.ant-layout {

	// 头部
	.ant-layout-header {
		position: fixed;
		width: 100%;

		padding: 0;
		.my-layout-header {
			padding: 0 50px;
		}
	}

	// 侧边栏
	.ant-layout-sider {
		position: fixed;
		height: 100%;
		top: 64px;
	}

	// 内容
	.ant-layout-content {
		margin-left: 200px;
		margin-top: 64px;
		.my-layout-content {
			overflow: auto;
			padding: 30px;
			background-color: white;
			height: 100%;
		}
	}

}
